html {
    background-color: cornsilk;
    color: darkslateblue;
}

#page {
    margin: 2%;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(218, 218, 223) 8pt;
    display: inline-block;
    background-color: rgb(118, 211, 130);
}

header {
    font-size: 3em;
    margin-bottom: 1%;
}
main {
    display: inline;
    width: 800px;
}

#about {
    display: inline;
}

figure {
    display: inline;
}

#pfp {
    width: 400px;
    height: 400px;
    display: inline;
    border-radius: 5%;
}

figcaption {
    font-size: 9pt;
    padding-top: .1%;
    margin-top: .2%;
    margin-bottom: 1%;
}

section {
    border-top: solid rgb(218, 218, 223) 8pt;
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 20px;
    width: 500px;
}

h3 {
    font-size: 18pt;
    margin-bottom: 0%;
    margin-top: .8%;
    font-weight: bold;
}

#bio {
    font-size: 12pt;
    float: left;
    overflow-wrap: break-word;
    margin-bottom: 2%;
}

em {
    font-style: italic;
}

ul li{
    padding: 0% 0% 5% 0%;
}

ul h3 {
    margin: 0%;
    padding-top: .4%;
}
strong {
    font-weight: bold;
}

ol {
    margin: 3%;
}

ol li{
    list-style: decimal;
    padding: 1% 0% 1% 1%;
}

a{
    color: darkslateblue;
}

footer {
    margin-top: 2%;
    border-top: solid rgb(218, 218, 223) 8pt;
    padding-top: 2%;
}

footer li {
    list-style: none;
    display: inline;
}

br {
    display: block;
}